/* profile.css */
html {
  background-color: #f5f7f9;
}

body {
  background: none;
  color: #69707a;
  font-family: "Open Sans", Arial, sans-serif;
}

strong {
  color: #222324;
}

.btn {
  font-weight: 300;
}

.btn-primary {
  background: #e16879;
  border-color: #e16879;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}
.padding{
  padding: 10px;
}

.card {
  border-color: #ccc;
}

.card-title {
  color: #FF3016;
  font-weight: 400;
}

.card-title2 {
  color: #FF3016;
  font-weight: 800;
  font-family: 'Shrikhand', cursive;
}

.card-block small {
  float: right;
}

.description {
  background-image: url("../img/manor.jpeg");
  background-repeat: repeat-x;
}

.background-img{
  background: url(../img/batsymbol.png) no-repeat center center fixed;
  background-size: cover;
  height: 80vh;
}

.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 999!important;
}

.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}


